.light-theme {
    ion-content {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
    .toolbar-background {
        background-color: color($colors, ios-yellow);
        color: #fff;
    }
    .toolbar-title {
        color: #fff;
    }
    .footer {
        text-align: center;
        background-color: #002738;
        color: #fff;
        min-height: 47px;
    }

    .home-container {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        height: 100%;
   }
}