page-conditions {
    .condition-container {
        position: absolute;
        top: 0;
        margin: 10px;
        text-align: justify; //width: 100%;
        //margin: 0 auto;
        z-index: 2;
       
        .submit-box {
            margin-top: 10px;
            text-align: center;
        }
    }
}