page-email-verification {
    .verification-container {
        position: absolute;
        top: 0;
        padding: 10vw;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
    }
   
    .scroll-content {
        margin-top: 0 !important;
    }
}
